/* Reset some default browser styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style the main content */
main {
    padding: 20px;
}

/* Style sections */
section {
    margin-bottom: 20px;
}

/* Style headings */
h1, h2 {
    font-family: Arial, sans-serif;
    text-decoration: underline;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

/* Style paragraphs */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Style unordered list */
ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    bottom: 0%;
    width: 100%;
}
